{% extends 'layouts/layout.twig' %}

{% block content %}
    <section class="login">
        <div class="card border-radius-md shadow-sm text-center">
            <h1 class="pb-sm mb-sm">Forgotten Password</h1>

            <p class="bt-1 bb-1 p-sm">
                To reset the password for your account, please provide the email address which,
                you have used to register your account.<br>
                We will then email you a reset link.
            </p>

            {% if errors.verification is defined %}
                <div class="error border-radius-sm">
                    {{ errors.verification|raw }}
                </div>
            {% endif %}

            <form action="{{ route('forgotten.post') }}" method="POST">
                {{ csrf() }}

                <label for="email" class="bold m-0-auto">Email</label>
                <div class="spacer-xs"></div>
                <input
                        id="email"
                        type="email"
                        name="email"
                        class="input"
                        placeholder="{{ old.name|default('you@example.org')|e }}"
                        autocomplete="on"
                        required
                >
                {% if errors.email is defined %}
                    <div class="form-error mt-xs">
                        {% for error in errors.email %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="spacer-md"></div>

                <div class="flex justify-center">
                    <button class="btn shadow-sm mt-md">Send Reset Email</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
